{% extends "layouts/layout.html" %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">Auth App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/auth/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Cancel</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <div class="container">
        <form action="/auth/signin" method="POST" autocomplete="off" class="form signin-form">
            <h1>Sign In</h1>
            {% include "partials/errors.html" with error %}
            <div class="form-group">
                <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    class="form-control" 
                    placeholder="Email" 
                    required
                    autocomplete="off">
            </div>
            <div class="form-group">
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    required
                    autocomplete="off">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>
        </form>
        <div class="social">
            <h3>Login with:</h3>
            <div class="social-icons">
                <a href="/auth/github"><i class="fab fa-github"></i></a>
                <a href="/auth/google"><i class="fab fa-google-plus"></i></a>
                <a href="/auth/facebook"><i class="fab fa-facebook"></i></a>
                <a href="/auth/twitter"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
    </div>
</main>
{% endblock %}